.list {
  list-style-type: none;
}

#daohang {
  padding: 0;
  width: 100%;
  margin: 0;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #58f8abeb;
}

#daohang li {
  float: left;
}

#daohang li a {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
}

#daohang li a:hover {
  /* border: #12F6E9 solid 2px; */
  border-radius: 10px;
  background-color: #ffffffc0;
}

/* 手机端导航的显示图片样式表 */
.daohang_image {
  display: none;
}

/* 主体大框的样式 */
#body_box {
  background-color: #ffffffd5;
  border-radius: 15px;
  min-width: 100%;
  border: #0044ff solid 2px;
  display: block;
}


/* 底部框的样式表 */
#bottom_box {
  background-color: #ffffffd5;
  border-radius: 15px;
  min-width: 100%;
}

/* 正文半透明框的通用样式 */
.content_box {
  background-color: #ffffffce;
  box-shadow: 5px 5px 20px #01010156;
  border-radius: 6px;
}

.content_box a {
  text-decoration: none;
}


/* 暂时网站放置点样式表 */
.temporary_card {
  background-color: #ffffffd5;
  border-radius: 15px;
  /* float: left; */
  padding: 10px;
  min-width: 50%;
}

.temporary_card a {
  text-decoration: none;
  padding: 12px 5px;
}


/* 主体大框样式区  */

/* 主要内容与空间集中地点 */
.main_box {
  
}
/* 侧边栏目框.para_box */
.para_box {

}

/* 侧边栏的头像 */
#para_box_head_image {
  border-radius: 50%;
  box-shadow: 14px 14px 21px #3b06064e;
  transition: all 2;
}
#para_box_head_image:hover {
  box-shadow: -14 14px 21px #c619194e;
}


/* 暂时网址放置的div中的漂亮按钮样式表 */
/* 注意：该样式表为其它来源的样式代码安置地 */
/* 最近的一份样式表（可删除） */

/* 特供版按钮的样式表 来源于网络 */
button {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #30303000;
  background-image: linear-gradient(50deg, #58d2dd, #eeb4b4);
  /* background: #44c9ee; */
  color: #ae00ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
 }
 
 button:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
 }
 
 button span {
  position: absolute;
 }
 
 button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
 }
 
 button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
 }
 
 button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
 }
 
 button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
 }
 
 button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
 }
 
 button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
 }
 
 button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
 }
 
 button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
 }
 
 button:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
 }
 
 button:active span:nth-child(1) 
 span:nth-child(2) 
 span:nth-child(2) 
 span:nth-child(2) {
  transition: none;
  transition-delay: none;
 }


/* 屏幕小于1100px的设备展示导航 */
#phone_showbar {
  display: none;
}


@media screen and (max-width: 1100px) {
  #daohang li {
    float: none;
  }

  #daohang li a {
    display: block;
  }

  #daohang {
    display: none;
    width: 40%;
    height: 100%;
    position: absolute;
    z-index: 3;
  }

  #phone_showbar {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #58f8abeb;
    position: sticky;
  }

  .p_more {
    display: inline-block;
    padding: 12px 16px;
  }

  .p_more:hover {
    border-radius: 10px;
    background-color: #ffffffc0;
  }

  #trigger {
    float: right;
  }

  .daohang_image {
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}
