.list {
    list-style-type: none;
}
#daohang {
    padding: 0;
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #58f8abeb;
}
#daohang li {
    float: left;
    }
#daohang li a {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
}
#daohang li a:hover {
    border-radius: 10px;
    background-color: #12F6E9;
}
.temporary_card {
    background-color: #ffffffd5;
    border-radius: 15px;
    float: left;
    padding: 10px;
    min-width: 50%;
}
.temporary_card a {
    text-decoration: none;
    padding: 12px 5px;
}
/* .temporary_card li {
    mar;
} */
