/*v导航栏样式*/
.ul {
    list-style-type: none;
    padding:0;
    margin:0;
    background-color: rgb(180, 180, 180); /* 不支持线性的时候显示 */
    background-image: linear-gradient(to right, #a4f0f4 , #ddbef8);
  }
.li{
    float: left;
  }
.li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
  }
/* .dropdown {
    display: inline-block;
  }
.li a:hover, .dropbtn:hover,.dropdown-content a:hover {
    background-color: rgba(256,256,256,0.5);
      border-radius: 4px;
  }
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    background-color: #a4f0f4;
  }
.dropdown-content {
    display: block;
    padding: 14px 18px;
  }
.dropdown:hover .dropdown-content {
    display: block;
  } */
  /* 下拉按钮的样式 */
  #xiala {
    display: none;
  }
/*N导航栏样式*/
/*其它链接文字样式清除*/
a {
    text-decoration: none;
}
  /*其它链接文字样式清除^*/